
<!-- component -->
<div class="h-screen flex justify-center items-center w-full">
    <form *ngIf="otp != undefined" #otpEnter = "ngForm" (ngSubmit)="onSubmit(otpEnter)">
      <div class="bg-gray-50 px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
        <div class="space-y-4">
          <h1 class="text-center text-2xl font-semibold text-gray-600">Enter OTP</h1>

          <div>
            <label for="email" class="block mb-1 text-gray-600 font-small">Enter OTP sent at +{{phone}}</label>
            <input type="text" maxlength="6" required ngModel name="otp" class="bg-blue-100 px-4 py-2 outline-none rounded-md w-full" />
          </div>
        </div>
        <button type="submit" class="mt-4 w-full bg-gradient-to-tr from-blue-600 to-indigo-600 text-indigo-100 py-2 rounded-md text-lg tracking-wide">Register</button>
      </div>
    </form>
</div>